@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,700);

#footer1-2 P {
  text-align: center;
}
#dropdown-menu-10 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-10 .nav .link,
#dropdown-menu-10 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-10 .navbar,
#dropdown-menu-10 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-10 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-10 .dropdown-menu a:hover,
#dropdown-menu-10 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-10 .navbar-toggler {
  color: #e25041;
}
#content5-12 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-12 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-12 .mbr-article {
  color: #fff;
}
#content5-12 .mbr-article UL {
  color: #28324e;
}

#footer1-16 P {
  text-align: center;
}
#dropdown-menu-17 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-17 .nav .link,
#dropdown-menu-17 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-17 .navbar,
#dropdown-menu-17 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-17 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-17 .dropdown-menu a:hover,
#dropdown-menu-17 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-17 .navbar-toggler {
  color: #e25041;
}
#header3-24 P {
  font-size: 15px;
}
#header3-24 H3 {
  font-size: 30px;
}
#header3-24 I {
  text-align: center;
}
#header3-24 SPAN {
  text-align: right;
}
#gallery1-33 SMALL {
  font-size: 20px;
  text-align: center;
}

#header3-27 P {
  font-size: 15px;
}
#header3-27 H3 {
  font-size: 30px;
}
#header3-27 I {
  text-align: center;
}
#header3-27 SPAN {
  text-align: right;
}
#gallery2-37 SMALL {
  font-size: 20px;
  text-align: center;
}
#footer1-25 P {
  text-align: center;
}
#dropdown-menu-26 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-26 .nav .link,
#dropdown-menu-26 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-26 .navbar,
#dropdown-menu-26 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-26 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-26 .dropdown-menu a:hover,
#dropdown-menu-26 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-26 .navbar-toggler {
  color: #e25041;
}

#footer1-29 P {
  text-align: center;
}
#dropdown-menu-30 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-30 .nav .link,
#dropdown-menu-30 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-30 .navbar,
#dropdown-menu-30 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-30 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-30 .dropdown-menu a:hover,
#dropdown-menu-30 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-30 .navbar-toggler {
  color: #e25041;
}
#header3-31 P {
  font-size: 15px;
}
#header3-31 H3 {
  font-size: 30px;
}
#header3-31 I {
  text-align: center;
}
#header3-31 SPAN {
  text-align: right;
}
#gallery2-38 SMALL {
  font-size: 20px;
  text-align: center;
}

#footer1-39 P {
  text-align: center;
}
#dropdown-menu-40 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-40 .nav .link,
#dropdown-menu-40 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-40 .navbar,
#dropdown-menu-40 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-40 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-40 .dropdown-menu a:hover,
#dropdown-menu-40 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-40 .navbar-toggler {
  color: #e25041;
}
#header3-41 P {
  font-size: 15px;
}
#header3-41 H3 {
  font-size: 30px;
}
#header3-41 I {
  text-align: center;
}
#header3-41 SPAN {
  text-align: right;
}
#gallery2-42 SMALL {
  font-size: 20px;
  text-align: center;
}

#footer1-43 P {
  text-align: center;
}
#dropdown-menu-44 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-44 .nav .link,
#dropdown-menu-44 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-44 .navbar,
#dropdown-menu-44 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-44 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-44 .dropdown-menu a:hover,
#dropdown-menu-44 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-44 .navbar-toggler {
  color: #e25041;
}
#content5-46 .mbr-header .mbr-header__text {
  text-align: center;
  color: #000000;
}
#content5-46 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-46 .mbr-article {
  color: #fff;
}
#content5-46 .mbr-article UL {
  color: #28324e;
}
#content5-48 .mbr-header .mbr-header__text {
  text-align: center;
  color: #fff;
}
#content5-48 .mbr-header .mbr-header__subtext {
  text-align: center;
  color: #fff;
}
#content5-48 .mbr-article {
  color: #fff;
}

#footer1-49 P {
  text-align: center;
}
#contacts2-54 B {
  font-size: 16px;
  text-align: right;
}
#contacts2-54 P {
  text-align: left;
}
#dropdown-menu-50 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-50 .nav .link,
#dropdown-menu-50 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-50 .navbar,
#dropdown-menu-50 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-50 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-50 .dropdown-menu a:hover,
#dropdown-menu-50 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-50 .navbar-toggler {
  color: #e25041;
}

#footer1-55 P {
  text-align: center;
}
#header3-62 B {
  font-size: 16px;
}
#gallery2-60 SMALL {
  text-align: center;
  font-size: 20px;
}
#dropdown-menu-56 .hide-buttons [data-button] {
  display: none !important;
}
#dropdown-menu-56 .nav .link,
#dropdown-menu-56 .dropdown-item {
  font-size: 1em;
  color: #e25041;
  font-family: 'Roboto', sans-serif;
}
#dropdown-menu-56 .navbar,
#dropdown-menu-56 .dropdown-menu {
  background: #333333;
}
#dropdown-menu-56 .dropdown-menu .dropdown-toggle[aria-expanded="true"],
#dropdown-menu-56 .dropdown-menu a:hover,
#dropdown-menu-56 .dropdown-menu a:focus {
  background: #292929;
}
#dropdown-menu-56 .navbar-toggler {
  color: #e25041;
}
